.background-layer {
  position: fixed;
  inset: 0;
  z-index: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateZ(0);
  will-change: transform;

  /* oscurecer un poco para mejor lectura */
  filter: brightness(0.8);

}


