.background-layer {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* oscurecer un poco para mejor lectura */
  filter: brightness(0.8);

  transform: translateZ(0);
}


