/*
.background-layer {
  position: fixed;
  inset: 0;
  z-index: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateZ(0);
  will-change: transform;

  /* oscurecer un poco para mejor lectura 
  filter: brightness(0.8);

}
  */
  
.background-layer {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* eliminar bordes redondos */
  border-radius: 0;

  filter: brightness(0.8);
}



