:root {
  --black: #0b0b0b;
  --black-soft: #121212;
  --silver: #cfcfcf;
  --silver-soft: #9f9f9fa7;
  --white: #ffffffd2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--silver);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

h1, h2 {
  font-family: inherit;
  color: var(--white);
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-family: inherit;
  color: var(--white);
  font-weight: 400;
}

p {
  color: var(--silver-soft);
  margin-bottom: 1rem;
}

img {
  max-width: 90%;
  border-radius: 12px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  p {
    font-size: small;
    margin-bottom: 0;
  }

  section {
    display: grid;
    place-items: center;
  }
}
