:root {
  --black: #0b0b0b;
  --black-soft: #121212;
  --silver: #cfcfcf;
  --silver-soft: #9f9f9fa7;
  --white: #ffffffd2;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--silver);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.viewport {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100svh; /* CLAVE */
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.app {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navbar NO scrollea */
.navbar {
  flex-shrink: 0;
}

/* Contenido scrolleable */
.content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
}

h1, h2 {
  font-family: inherit;
  color: var(--white);
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-family: inherit;
  color: var(--white);
  font-weight: 400;
}

p {
  color: var(--silver-soft);
  margin-bottom: 1rem;
}

img {
  max-width: 90%;
  border-radius: 12px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  p {
    font-size: small;
    margin-bottom: 0;
  }

  section {
    display: grid;
    place-items: center;
  }
}
